It is mentioned in the paper that they are using the ambient air samples from P. falciparum CHMI trial and the healthy control human breath samples to generate training and validation data. Selected masses are m/z = 103, 115, and 143 Da with RTs between 14-15 min from the air samples for training.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

###### P. Falciparum ambient air - data exploration

In [7]:
pf = pd.read_csv('pfambient_csv.csv')
pf.head()

,nan,35,36,37,38,39,40,41,42,43,...,342,343,344,345,346,347,348,349,350,Unnamed: 317
0,0.014,0.00000,35.28571,0.0,0.0,10.01136,0.00000,10.56250,0.00000,28.8103,...,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN
1,0.017,0.00000,12.08654,16.0,0.0,11.24039,0.00000,11.68056,0.00000,11.2500,...,0.0,15.16447,10.24039,0.0,0.0,0.0,0.0000,0.0,0.0,NaN
2,0.020,0.00000,25.57143,0.0,0.0,0.00000,37.47615,0.00000,0.00000,0.0000,...,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN
3,0.024,0.00000,10.00000,0.0,0.0,12.03125,15.34722,0.00000,0.00000,0.0000,...,0.0,0.00000,10.20000,0.0,0.0,0.0,14.5329,0.0,0.0,NaN
4,0.027,11.01136,14.12500,0.0,0.0,0.00000,0.00000,0.00000,17.09091,0.0000,...,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN

In [15]:
pf.describe()

,nan,35,36,37,38,39,40,41,42,43,...,342,343,344,345,346,347,348,349,350,Unnamed: 317
count,14898.000000,14898.000000,14898.000000,14898.000000,14898.000000,14898.000000,14898.000000,1.489800e+04,14898.000000,1.489800e+04,...,1.489800e+04,1.489800e+04,1.489800e+04,1.489800e+04,14898.000000,14898.000000,14898.000000,14898.000000,14898.000000,0.0
mean,25.004446,288.059676,575.671055,632.920655,680.484625,5387.477741,1593.004228,3.385424e+04,7040.351533,3.709731e+04,...,1.833104e+04,1.548410e+04,7.642535e+03,3.822732e+03,1229.428703,668.620093,547.006002,519.027586,233.901264,NaN
std,14.429842,890.307836,1738.702030,1745.628064,1773.317209,14702.402371,4296.646624,1.443684e+05,20751.101304,1.094634e+05,...,2.688880e+05,2.394882e+05,1.345324e+05,6.655698e+04,14157.970927,4182.521190,2775.220889,2596.393498,1168.638945,NaN
min,0.014000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,12.509000,97.740612,208.756025,222.851825,231.115925,1280.672250,444.083850,6.437434e+03,1727.630750,5.347185e+03,...,3.318764e+02,3.050516e+02,2.141953e+02,1.855801e+02,178.369650,156.560125,142.116300,134.891500,55.005113,NaN
50%,25.004500,156.579950,316.857100,349.101850,372.339400,2839.017500,810.232100,1.715156e+04,3551.577500,1.436892e+04,...,6.435059e+02,5.864941e+02,3.829344e+02,3.257255e+02,308.067600,259.151700,235.095900,222.481350,98.938600,NaN
75%,37.500000,238.133350,463.036000,525.743900,572.890700,4844.780750,1341.311750,3.046797e+04,6143.702250,2.722519e+04,...,1.452758e+03,1.211384e+03,6.948948e+02,5.643779e+02,516.267400,435.039625,383.803150,364.056025,163.150125,NaN
max,49.995000,14391.860000,25768.030000,25329.620000,26922.140000,397084.800000,117067.600000,4.854017e+06,539298.100000,2.363339e+06,...,7.982510e+06,7.021532e+06,3.527156e+06,1.942031e+06,412133.100000,109563.900000,76379.810000,65496.910000,33260.770000,NaN

In [16]:
pf.size

4737564

In [17]:
pf.shape

(14898, 318)

In [18]:
pf.isnull()

,nan,35,36,37,38,39,40,41,42,43,...,342,343,344,345,346,347,348,349,350,Unnamed: 317
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14893,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14894,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14895,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14896,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14897,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

The given dataset has been well-analyzed about how many peaks each has.